services:
  tg_bot:
    build:
      context: ./services/tg_bot
      dockerfile: Dockerfile
    restart: always
    env_file:
      - ./services/tg_bot/.env
    volumes:
      - ./services/tg_bot/src:/app/src

  backend:
    build:
      context: ./services/backend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - ./services/backend/.env
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
